@charset "utf-8";
/* CSS Document */

.widget {
	display:block;
	width:250px;
	height:250px;
	
	border:0px;
	margin:0px;
	padding:10px;
	
	background-color:#0FF;
}

.widgetTitle {
	background-color:grey;
}

.widgetContent {
	width:100%;
	height:auto;
}